name: CodeCov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.8'
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: ‘2’

    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.8
    - name: Generate Report
      run: |
        pip install -r tests/requirements.txt
        python -m pytest --cov=./zero
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1
