name: CodeCov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Generate Report
      run: |
        pip install -r tests/requirements.txt
        python -m pytest --cov=./zero
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1
